@{
    ViewBag.Title = "阿子的記帳本";
    @model HomeworkDay1.Models.ViewModels.MoneyViewModel
}
<div class="well">
    <!--<form class="form-horizontal"> -->
@using (Html.BeginForm("", "", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">                
                @Html.DropDownListFor(model => model.IO, new SelectList(
                new List<Object>{
                          new { value = "1" , text = "收入"  },
                          new { value = "0" , text = "支出" }
                }, "value", "text"),
                "請選擇", new { @id = "category", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.MNY, new { @id = "money", @class = "form-control", @placeholder = "金額" })
                @Html.ValidationMessageFor(model => model.MNY, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.CHDT, new { @id = "date", @class = "form-control", @placeholder = "日期" })
                @Html.ValidationMessageFor(model => model.CHDT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">                
                @Html.TextAreaFor(model => model.RMK, new { @id = "description", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RMK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
     }
</div>

<!--顯示資料-->
@Html.Action("ShowGridData")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}